<div class='form-group'>
    <label for="title"> Title </label><br>
    <input  value='<%= career.title %>' type='text' name='title'  id='title'><br>
</div>

<div class=form-group'>
    <label for="description"> Description </label> <br>
    <textarea name="description" id="description" cols="30" rows="10"><%= career.description %> </textarea><br>
</div>

<div class='form-group'>
    <label for="markdown">Markdown</label><br>
    <textarea  name="markdown" id="markdown" class ='form-control' cols="30" rows="10"><%= career.markdown %> </textarea><br>
</div>

<a href="/">Cancel</a>
<input class='button' type="submit" value="Save">