<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>

    <title> Tech Career Depot</title>
</head>
<body>
    <!-- Begin hero section here -->
    <section class="hero">
        <h1 class='logo'> &lt;Tech Career Depot/&gt; </h1>
        <p>...find yourself in technology.</p> <br>
        <article>
            Are you curious about what it takes to get into the IT technology field? Explore tech careers in just one stop and begin a new journey today!
        </article><br>
    </section>

    <div class='container'>
       <h1>Tech Careers</h1> 
            <div style="border: 1px solid grey; margin-bottom:40px; margin-top:40px; padding-bottom:20px; padding-left:20px; padding-right:20px;">
            <ul>    
                <% careers.forEach(function(career){ %>
                    <div class='career-title'>
                    <li><%- career.title %></li>   
                    </div>

                    <div class='career-body'>
                        <li><%- career.description %></li>
                    </div>
                    <br> <hr>
                    
                <%});%>

                </ul> 
            </div>
    </div>
  
    <br>

       
    <!-- <fieldset>
     <legend>Choose a career to learn more!</legend>
<!--    
    <form action="/careers" method=GET>
        <label for="Careers">
            <select name="careers">
            <option value='data-science'>Data Science</option>
            <option value='software-engineering'>Software Engineering</option>
            <option value='uxui-design'>UX/UI Design</option>
            </select>
        </label>
    <!-- *** Need to link  submit to corresponding view-->
        <!-- <input type="submit" value="Let's Go!">
    </form>
     </fieldset>  --> 
    
     <a href="/careers/new" class='btn new'> Add a Career</a>

</body>
</html>