<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/style.css'/>
    
    <title>Software Engineering</title>
</head>

<body>
    <h1>Software Engineering/h1>

    <h2>What Is Software Engineering?</h2>
    <article>Software engineering is the application of engineering concepts for software development. Its main goal is the creation, improvement, and maintenance of software. Software engineering takes into account engineering aspects like the hardware and software environment when working on a program. </article>

    <h2>What Does a Software Engineer Do?</h2>
    <article>Software engineers are responsible for building and maintaining all of the software we use every day, from productivity tools to web browsers. Software developers are in demand all across the world, as more fields of business continue to rely more heavily on technology. As a result, software engineers earn an impressive salary and have strong job prospects. On a day-to-day basis software engineers will ensure active programs run smoothly, update programs, fix bugs, and create new programs. Software engineers write software for a variety of technologies, from smart home devices to virtual assistants, depending on their job.
        In addition, a software engineer will often be tasked with analyzing the needs of an organization, then design, test, and maintain the software in order to meet those needs. Software engineers will also write documentation to keep track of internal code and work with other members of a development team to ensure an application meets all the requirements.
        
        </article>

    <h2>Are You A Software Engineer?</h2>
    <article>WWhile anyone can learn software engineering, you may find that you will succeed and enjoy your job more if you have these qualities:</article>
    <p>Traits</p>
    <ul>
        <li>A logical mindset/li>
        <li>A love for troubleshooting and solving puzzles</li>
        <li>The ability to work well on a team</li>
        <li> A desire to continually learn</li>
        <li>A passion for technology</li>
    </ul>
    <p>Skills</p>
        <li> Personal projects</li>
        <li> Freelance work</li>
        <li> Pro bono work</li>
        <li> Internships</li>


    <h2>How Much Do Software Engineers Earn?</h2>
    <article>According to ZipRecruiter, the average national salaries for data scientists are approximately as follows: </article>

    <ul>
        <li>Junior Level - $50.000</li>

        <li>Mid Level - $120,000 </li>

        <li>Senior Level - $188,000 </li>

    </ul>


    <h2>Your Roadmap To Your Software Engineer Career</h2>
    <article>There are many different paths you can take to become a software engineer, but the most common route usually the follows these steps:</article>

    <ol>
        <li>1. Choose a  software engineering career path.</li>
        <li>2.Learn about software engineering through a bootcamp, self-study, or college.</li>
        <li>3. Develop and refine your skills while building your portfolio.</li>
        <li>4. Prepare for and start your job search.</li>
    </ol>

    <h2>Additional Resources</h2>
    <ul>
        <li><a href="https://www.bls.gov/ooh/computer-and-information-technology/software-developers.htm">U.S. Bureau of Labor Statistics</a></li>
        <li><a href="https://www.generalassemb.ly">General Assembly</a></li>
        <li><a href="https://www.careerkarma.com">Career Karma</a></li>
    </ul>

    <a href="/careers/new">Add Career to My List!</a>
  
</body>
</html>