<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>

    <title> All Careers</title>
</head>
<body>
    <!-- Begin hero section here -->
    <section class="hero">
        <h1 class='logo'> &lt;Tech Career Depot/&gt; </h1>
        <p>...find yourself in technology.</p> <br>
        <br>
    </section>
<h1>All Careers</h1>  
<ul>
    <li><a href="/careers/dss">Data Science</a></li>
    <li><a href="/careers/ses">Software Engineering</a></li>
    <li><a href="/careers/uxuis">UX/UI Design</a></li>
</ul>   

<a href="/careers/index"> Return To List></a>
<a href="/careers/new" class='btn new'> Add a Career</a>
        
    </div>


</body>
</html>