<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/style.css'/>
    
    <title>UX/UI Design</title>
</head>

<body>
    <h1>User Experience/ User Interface Design (UX/UI Design)</h1>

        <h2>What Is User Experience/ User Interface Design?</h2>
        <article>Behind every successful product is a designer who created the look and feel of the product. UX design is the process of designing how users will experience a product. They employ programming, visual design, usability testing, and psychology to craft a product that’s easy to use and navigate. UX designers accomplish this by thinking about the potential challenges customers may face with a product. They will also make changes to a design or feature based on their research to ensure customers can easily understand how to use a product.</article>
    
        <h2>What Does A User Experience/ User Interface Designer Do?</h2>
        <article>UX/UI designers are responsible for turning an idea into a web design which meets a certain set of specifications. After they complete a design, it will be passed onto the development team, who will turn the design into a functioning application.
            UX/UI designers will ensure that a site is easy to use and navigate through. They’ll also work with other members of an organization to come up with designs which meet the specifications associated with a product. For example, a UX designer may work with the customer success department to find out what problems have been commonly reported among customers, which will help inform new designs.
            
            </article>
    
        <h2>Are You A User Experience/ User Interface Designer?</h2>
        <article>Anyone can learn how to design, however, having certain qualities may mean that you will find greater success or find more joy in a design career. Here are a few qualities happy UX/UI designers see in themselves:</article>
        <p>Traits</p>
        <ul>
            <li>A love or knack for visual design</li>
            <li>An interest in how other people think</li>
            <li>Humbleness, and a willingness to learn and grow</li>
            <li>The ability to present or sell</li>
            <li>A passion for technology</li>
        </ul>
        <p>Skills</p>
            <li> Personal projects</li>
            <li> Freelance work</li>
            <li> Pro bono work</li>
            <li> Internships</li>
    
    
        <h2>How Much Do User Experience/ User Interface Designers Earn?</h2>
        <article>According to ZipRecruiter, the average national salaries for data scientists are approximately as follows: </article>
    
        <ul>
            <li>Junior Level - $90.000 </li>
    
            <li>Mid Level - $105,000 </li>
    
            <li>Senior Level - $154,500 </li>
    
        </ul>
    
        <h2>Your Roadmap To Your User Experience/ User Interface Design Career</h2>
        <article>While there are different ways of becoming a UX or UI designer, here’s the most common route:</article>
    
        <ol>
            <li>1. Choose a design career path.</li>
            <li>2. Learn about UX/UI design throught a university degree, bootcamp or self-study.</li>
            <li>3. Develop and refine your skills while building your portfolio.</li>
            <li>4. Prepare for and start your job search.</li>
        </ol>
    
        <h2>Additional Resources</h2>
        <ul>
            <li><a href="https://www.bls.gov/ooh/computer-and-information-technology/web-developers.htm?utm_source=careerkarma&utm_campaign=careerkarma">U.S. Bureau of Labor Statistics</a></li>
            <li><a href="https://www.generalassemb.ly">">U.S. Bureau of Labor Statistics</a></li>
            <li><a href="https://www.careerkarma.com">">Career Karma</a></li>
        </ul>
  
</body>
</html>