

body {

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  p, a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 18px;
  }
  
  /* Generic styles */
  html {
    scroll-behavior: smooth;
  }
  
  a {
    background-color: rgb(184, 182, 182);
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
  }
  
  a:hover {
    opacity: .6;
  }

.hero {
    /* Photo of tech globe */
    background: url('https://i.imgur.com/qSXPKOz.jpg') center;
    background-size: cover;
    padding: 4rem 2rem;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    align-items: center;
  }
  
  .hero > * {
    color: white;
  }
  
  .hero > h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  
  .hero > article > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    

  }
  
  .hero > article > a {
    padding: 1rem;
    margin-top: .75rem;
  }

.hero-overlay {

    font-family: 'Arvo', serif;
    font-size: 52px;
}

h1 {
    font-family: 'Arvo', serif;
}

ul {
    list-style: none;
    font-size: large;
}

p {
    font-family: 'Arvo', serif;
    font-size:30px;   
}

article {
    font-family: 'Roboto', serif;
    font-size:20px;
}
    


